
*{
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background-color: beige;
}
.videoWrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x:scroll;
  overflow-y:hidden;
}
video{
  height: 100vh;
  width: auto;
}
#videoSelectBtn{
  position: absolute;
  top : 5px;
  left : 5px;
}
.resButton{
  user-select: none;
  width: 170px;
  text-align: center;
}
#zoomControls{
  position: absolute;
  bottom : 5px;
  left : 5px;
}

#sizeSelectWrapper{
  position: absolute;
  top : 15px;
  right : 25px;
}

#sizeSelectWrapper button{
  display: block;
}